              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#linux">
                      Linux
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#python">
                      Python
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#life">
                      Life
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
